/****** overall elements elements ******/
* {box-sizing: border-box;}

body{
    margin: 0px;
}

/****** containing elements ******/
.container{width: 100%;
	position: absolute;
	margin: 0px;
	height: auto;}
.row{width: 100%;
	position: relative; float: left;}
.fooditem{position: relative;margin: 10px;background-color: #d1d1d1;/* width: 100%; */border: 2px solid #000000;}

/****** text elements ******/

h1{
	text-align: center;
	font-size: 1.5em;
	/* display: none; */
	}

.fooditem h2{
	text-align: center;
	display: block;
	position: relative;
	border: 2px solid #000000;
	font-size: 1.2em;
	margin: 0px;
	clear: both;
	width: 33.33%;
	float: right;
	top: -2px;
	right: -2px;
	}

.chicken h2{color: #000000;
	background-color: pink;}
.beef h2{color: #ffffff;
background-color: red;}
.sushi h2{color: #000000;
background-color: yellow;}

p{font-family: Helvetica, Arial, sans-serif;font-size: 1em;margin: 0px;padding: 15px;clear: both;}


/* laptop and desktop screen media queries */
@media only screen 
  and (min-width: 997px) 
{
	.container{padding: 0px;}
	.column-third{
	position: relative;
	float: left;
	width: 33.33%;
	/* margin: 0px 10px; */
	/* clear: right; */
	}

	

}

/* tablet screen media queries */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 991px)
 {
 	.container{padding: 0px 10px;}

 	.column-half{
	position: relative;
	float: left;
	width: 50%;
	/* margin: 0px 10px; */
	/* clear: right; */
	}
	.column-full{
	position: relative;
	float: left;
	width: 100%;
	/* margin: 0px 10px; */
	/* clear: right; */
	}

	.fooditem{height: 100px;overflow: hidden;}


}

/* phone/mobile screen media queries */
@media only screen 
  and (max-width: 767px) 
{
	.container{padding: 0px 10px;}

	.column-third{
	position: relative;
	float: left;
	width: 100%;

}
